body{background:url() #eee;}
.ball{width:10px;height:10px;background:url() #fff;border-radius:15px;position: absolute;top:600px;left:400px;}
.border{border-radius: 3px 3px 3px 3px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;padding:5px;border:1px solid #CCC; }
.btn{background: linear-gradient(to bottom, #CEFA40 2%, #ACD037 97%) repeat scroll 0 0 transparent;border: 1px solid #6E9200;border-radius: 3px 3px 3px 3px;
box-shadow: 0 1px 1px #D6FE54 inset;color: #131313;cursor: pointer;font-size: 18px;font-weight: bold;padding:13px;margin:5px;}
.btn:hover {background: linear-gradient(to bottom, #CEFA40 2%, #ACD037 97%) repeat scroll 0 0 transparent;
box-shadow: 0 0 5px rgba(51, 51, 51, 0.3) inset;cursor: pointer;}
.font1{font-family: 'Archivo Narrow',Arial,Helvetica,sans-serif;}
.oppo_half{height:298px;border:1px solid #CCC;}
.operation_area{margin-top:10px;}
.rival_pad{width:130px;height:5px;background:url() #333;cursor:pointer;top:580px;position:absolute;}
.reference{border-collapse:collapse;}
.reference td{border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;}
.reference th{color:#ffffff;background-color:#555555;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;}
.score_board{width:200px;float: left;background:url() #fff;}
.score_board .name{font-size:20px;width:128px;display:inline-block;padding: 10px;}
.score_board .score{border:1px solid #CCC;}
.status_cnt{font-size:12px;}
.sql_show{width:1000px; height:600px;background-color:#ccc;margin-left:100px;}
.table_info{font-size:50px;position: absolute;text-align: center;top: 348px;}
.header{width:1080px;height:70px;margin-left:auto;margin-right:auto;}
.header .title{font-size:40px;}
.my_half{height:298px;border:1px solid #CCC;}
.my_pad{width:130px;height:5px;background:url() #ccc;cursor:pointer;top:560px;position:absolute;}
.member_area{width:200px;height:200px;margin-top:15px;}
.member_title{padding:4px;border:1px solid #CCC;}
.member_list{padding:4px;border:1px solid #CCC;height:150px;margin-top: 6px;overflow-y:scroll;}
.member_list li{width:33px;list-style: none;float: left;margin: 0 10px 10px 0;padding: 0 0 15px; font-size:8px;}
.member_list li span{display:block;}
.member_list li img{width:33px;}
.number{color: #010101;font-size: 35px;font-weight: bold;font-style: italic;margin-top: 5px;line-height: 1;}
.play_ground{float:left;left:0px;top:0px;width:500px;height:600px;border:1px solid #CCC; 
 background: linear-gradient(to bottom, #6272a5 2%, #b2b8b2 97%) repeat scroll 0 0 transparent;}
.play_info{width:300px;float:left;background:url() #fff;padding: 20px;}
.play_wrapper{margin-left:100px;width:1080px;height:650px;}
.hint{background: hsl(0, 0%, 27%);display: inline-block;color: hsl(0, 0%, 93%);padding: 15px 30px;position: absolute;
font-size: 2em;line-height: 1;margin: 30px 0 0;text-shadow: 0 -2px 2px hsl(0, 0%, 17%);}
.hint:after {display: block;position: absolute;background: transparent;border: 30px solid transparent;
border-right-color: hsl(0, 0%, 27%);top: 50%;margin-top: -30px;right: 100%;content: '';width: 0;height: 0;